<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ims.warehouse.mapper.LocationMapper">

    <resultMap id="BaseResultMap" type="com.ims.warehouse.entity.Location">
        <id column="id" property="id"/>
        <result column="location_code" property="code"/>
        <result column="location_name" property="name"/>
        <result column="warehouse_id" property="warehouseId"/>
        <result column="zone" property="zone"/>
        <result column="shelf_no" property="shelfNo"/>
        <result column="row_no" property="row"/>
        <result column="col_no" property="col"/>
        <result column="level_no" property="level"/>
        <result column="location_type" property="type"/>
        <result column="status" property="status"/>
        <result column="remark" property="remark"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="deleted" property="deleted"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, location_code, location_name, warehouse_id, zone, shelf_no, row_no, col_no, level_no, location_type, status, remark, create_time, update_time, deleted
    </sql>

    <select id="selectByWarehouseId" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/> FROM inv_location WHERE warehouse_id = #{warehouseId} AND deleted = 0 ORDER BY location_code ASC
    </select>

    <select id="selectByCode" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/> FROM inv_location WHERE location_code = #{code} AND warehouse_id = #{warehouseId} AND deleted = 0
    </select>

</mapper>